<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYDB</title>
    <link rel="stylesheet" href="public/app.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body class="h-screen w-screen bg-gray-800 flex">
    <div class="text-white m-auto text-center">
        <h1 class="text-5xl text-red-500 font-bold mb-4">Ops!</h1>
        <h1 class="text-2xl font-bold">DATABASE SERVER DOWN</h1>
    </div>
</body>

</html>